#txtbox{
    border-radius: 10px;
    width: 700px;
    height: 50px;
    text-align: center;
    border: 2px skyblue;
}

h1{
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

.container-fluid{
    background-image: url("https://preview.redd.it/wmz503w5t4511.jpg?width=5120&format=pjpg&auto=webp&s=7fcd76fba6ceb006fdd485d343bd0646fc337c3aurl")                                                        ;
    height: 500px;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}
